@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {

    background: linear-gradient(to right, #e0f7fa, #f1f8e9);

}

nav {

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    backdrop-filter: blur(8px)
}

h2 {

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ul {

    display: flex;
    list-style-type: none;
    /* justify-content: space-evenl; */

}

li {

    margin-left: 100px;
    font-family: 'poppins';
    cursor: pointer;
}

a {

    text-decoration: none;
    cursor: pointer;
    font-weight: 600;
    color :brown
}

.left {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 80vh;
}

#main-heading {

  font-family: 'Poppins', sans-serif;
  font-size: 2.8rem;
  font-weight: 700;
  letter-spacing: 1px;
  color: #333;
  text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.08);

}

p {
    font-family: 'poppins';
    line-height: 36px;
    width: 50vw;
}

#btn {

  background: linear-gradient(135deg, #6a1b9a, #8e24aa);
  color: white;
  padding: 12px 28px;
  border: none;
  border-radius: 50px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);


}

#btn:hover {

  transform: translateY(-3px) scale(1.05);
  background: linear-gradient(135deg, #8e24aa, #6a1b9a);
  box-shadow: 0px 8px 20px rgba(138, 43, 226, 0.4);

}

img {

    width: 400px;
    height: 400px;
    box-shadow: 15px 20px 60px black ;
    border-radius: 10px;
}

/* Responsive [Media Quieries] */

@media screen and (max-width:600px) {

    nav {

        flex-direction: column;
        align-content: center;
        align-items: center;
    }

    ul {

        flex-direction: column;
        align-content: center;
        align-items: center;
    }

    li {

        margin-left: -10px;
    }

    main {

        flex-direction: column-reverse;
    }

    img {

        width: 300px;
        height: 300px;
    }

    h2 {

        margin-left: 22px;
    }
}